[Unit]
ConditionPathExists=!/run/media/oob/imagestore

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkdir -m 0755 -p /run/media/oob/imagestore
