go 1.22.5

toolchain go1.23.2

use (
	./images/bb
	./images/bridge
	./images/chromestage
	./images/gstreamer-pipeline
	./images/mdns
	./images/nvml
	./images/screenshot
	./images/sigar
	./images/spaceview
	./images/substrate
	./images/sys
	./images/tool-call
	./images/weather
	./pkg/cueloader
	./pkg/toolkit
	./pkg/p9
	./pkg/go-vscode
)
