go 1.22.2

use (
	./pkg/cueloader
	./pkg/commands
	./images/bb
	./images/sigar
	./images/nvml
	./images/bridge
	./images/bridge2
	./images/chromestage
	./images/files
	./images/screenshot
	./images/substrate
)
