go 1.22.2

use (
	./images/bb
	./images/bridge
	./images/bridge2
	./images/chromestage
	./images/files
	./images/nvml
	./images/screenshot
	./images/sigar
	./images/substrate
	./images/sys
	./images/tool-call
	./pkg/cueloader
	./pkg/toolkit
)
