# necessary requirements
jupyter-server-proxy
jupyverse[retrolab,auth]==0.0.50

# optional requirements -- these will be installed with pip
# penkit==0.0.8
numpy==1.23.4
scipy==1.9.3
matplotlib==3.6.1

transformers
# Needed for device_map auto in transformers
accelerate>=0.12.0
bitsandbytes>=0.31.5

# jupyterlab_widgets
# ipywidgets

nbdev
torch
fastai
pandas
langchain
