<|begin_of_text|><|start_header_id|>tool<|end_header_id|>
<tool_response>
{{$.Response.Content | json}}
</tool_response><|eot_id|>
<|start_header_id|>assistant<|end_header_id|>
{{- /*
dummy comment to ensure any whitespace at the end of the file is
stripped from the output
*/ -}}
