[Unit]
Description=Substrate Image Pull
ConditionFirstBoot=true
After=network-online.target
After=registry.container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=podman pull ghcr.io/ajbouh/substrate:substrate

[Install]
WantedBy=multi-user.target
WantedBy=substrate.container
