#msgindexroot {
    display: flex;
}

#msgindex {
    max-width: 50%;
    width: 10em;
    min-width: 10em;
    overflow: scroll;
    flex-shrink: 0;
    resize: horizontal;
    height: 100vh;
}

#msg {
    max-height: 100vh;
    overflow-y: scroll;
}